:root {
  --main-clr: #2196f3;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

.game {
  background-color: #eee;
  min-height: 100vh;
}

.container {
  margin: auto;
  max-width: 60%;
}

.name {
  background-color: var(--main-clr);
  color: white;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.message {
  background-color: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  text-align: center;
}

select {
  margin-top: 15px;
  border-color: var(--main-clr);
  padding: 5px 20px;
  font-weight: bold;
}

.message span {
  font-weight: bold;
  color: #009688;
}
.message span::before {
  content: "[ ";
}
.message span::after {
  content: " ]";
}

.start {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #009688;
  width: fit-content;
  display: block;
  border: none;
  border-radius: 15px;
  margin: auto;
  color: white;
  padding: 10px 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.start:hover {
  background-color: #00968888;
  color: #009688;
}

.the-word {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: var(--main-clr);
  user-select: none;
}
.the-word + input {
  margin: 15px 0;
  width: 100%;
  display: block;
  padding: 15px;
  border: 3px solid var(--main-clr);
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 6px;
  caret-color: var(--main-clr);
}
.the-word + input:focus {
  outline: none;
}

.upcoming-words {
  background-color: white;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.upcoming-words div {
  background-color: var(--main-clr);
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 10px;
  border-radius: 6px;
}
.control {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
}
.control span {
  font-weight: bold;
  color: #009688;
}
.finish {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 15px;
}
.finish .good {
  color: var(--main-clr);
}
.finish .bad {
  color: crimson;
}

.inst {
  position: absolute;
  bottom: 10%;
  font-size: 150%;
}
.inst p:first-of-type {
  color: #009688;
}
.inst p:last-of-type {
  color: crimson;
}
